body{
	padding: 0;
	margin: 0;
}

.content{
    min-height : 780px;
    padding: 10px;
}

.submit-btn-container{
    width: 70px;
    font-weight: bold;
    margin: 0 auto;
}

.search-input-group{
    width: 100%;
}

#search-input-group-btn{
    width: 50px;
}

.search-title-container{
    width: 100%;
}

.search-title{
    width: 340px;
    text-transform : uppercase;
    margin : 0 auto;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 30px;
}

.clear{
    padding: 0;
    margin: 0;
}

#company_add_title{
    width: 350px;
}

.button-op-panel{
    padding: 10px 0 10px 0;
}

.chat-message{
    border: solid 1px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: #ddd;
    padding: 10px;
}

.chat-message-info{
    
}

.chat-box{
    border-radius: 5px;
    border-color: #ddd;
}

.question-container{
    border: solid 1px;
    margin: 5px 0px 5px 0;
    border-radius: 5px;
    border-color: #ddd;
}

.question-text{
    background-color: #e7e7e7;
    padding: 10px;
    font-weight: bold;
    line-height: 20px;
    font-size : 15px;
    font-family: cursive;
    word-wrap: break-word;
    text-align: justify;
}

.question-answer{
    padding: 10px;
    border-bottom: 1px solid;
    border-color: #ddd;
    font-family: monospace;
    font-size: 18px;
}

.answer-author{
	font-weight: bold;
	font-size: 10px;
	color:black;
	margin-top: 10px;	
}

.question-text > .answer-author{
	float: right;
	margin-top: 0px;
}

pre{
	background-color: inherit;
	border: none;
	font-size: inherit;
	padding: inherit;
	font-family: inherit;
}

.question-answer > .answer-author{
	
	margin-top: 0;
}

.answer-author > span {
	font-weight: normal;
	color: blue;
}

div.question-answer:last-child{
	border-bottom: none;
}

#login-form{
    width: 500px;
    margin: 0 auto;
}

#add-company{
    width: 330px;
}

#companyTechs{
    display: inline;
    width: 300px;
}

.tag-container{
    padding: 10px 0 10px 0;
}

.tag{
    
}

div .tag{
    border: solid 1px;
    border-radius: 5px;
    padding: 8px;
    background-color: #337ab7;
    color: white;
}

.tag a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-stretch: expanded;
}

#search-company{
	padding: 0;
}

.search-result-container{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0 10px 0;
	font-family: monospace;
}

.search-filter-letter > ul {
	list-style-type:none;
	padding: 0;
}

.search-filter-letter > ul > li {
	display: inline;
}

.search-filter-letter > ul > li > a{
	font-size: 20px;
	padding-right:12px;
	border-right: solid 1px;
}

ul#id-last-question-list > li {
	margin: 20px 0 20px 0;
	padding: 5px;
}

ul#id-last-question-list > li.list-group-item{
	padding: 0;
}

ul#id-last-question-list > li > div.company-title{
	color: black;
	font-family: monospace;
	letter-spacing: 2px;
	font-size: 24px;
	background-color: #f8f8f8;
	font-weight: bold;
	padding: 5px;
}

.question-list-text > p{
	margin: 0;
	text-align: justify;
	word-wrap: break-word;
}

.question-list-text > a{
	
}

ul#id-last-question-list > li > div.question-list-text{
	padding: 5px;
	font-family: monospace;
	font-size: 18px;
}

form.edit-comment-form{
	display:inline;
}

input.edit-link{
	float: right;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	display: inline;
}

.navbar-nav >li:first-child>a{
	padding-left: 0px;
}

table.users-list input.button-save{
	width: 100%;
}

#add-answer{
	width: 360px;
}

#idFooter img{
	height: 50px;
	margin: 0 auto;
	display:block;
}

.text{
	word-wrap: break-word;
	text-align: justify;
}

#left-menu{
    margin: 0;
    padding: 0;
}

#company_title{
    width: 530px;
}

#question-added-title{
	width:505px;
}

.left-menu-container{
    display: inline;
    float:left;
}

div#left-menu ul > li {
    margin-left: 10px;
}

div#left-menu ul li:first-child{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

div#left-menu ul li{
    border-radius : 0px;
}